*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Caveat:wght@400;500&family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@700&family=Lobster&family=Noto+Serif+Lao:wght@500;600&display=swap');